@page "/"
@inherits Index_Logic

@addTagHelper *, BlazorVirtualGridComponent
@using BlazorVirtualGridComponent;

<h1>Hello, world5!</h1>


<button class="btn btn-primary" style="margin:5px" onclick="@Cmdqwer">qwer</button>

<button class="btn btn-primary" style="margin:5px" onclick="@CmdNewList1">new list 1</button>


<button class="btn btn-primary" style="margin:5px" onclick="@CmdPinColList1" disabled="@FirstOrSecond">Pin col list 1</button>


<button class="btn btn-primary" style="margin:5px;margin-left:50px" onclick="@CmdNewList2">new list 2</button>


<button class="btn btn-primary" style="margin:5px" onclick="@CmdPinColList2" disabled="@(!FirstOrSecond)">Pin col list 2</button>

<br />
<br />



@if (FirstOrSecond)
{
    <CompBlazorVirtualGrid ref="CurrBVG1" SourceList="@list1" TableName="@TableName1"></CompBlazorVirtualGrid>
}
else
{
    <CompBlazorVirtualGrid ref="CurrBVG2" SourceList="@list2" TableName="@TableName2"></CompBlazorVirtualGrid>
}