@typeparam TItem

@inherits CompColumnsManagerBase<TItem>

<style>
    .MyContainerColumnsManager{
            display:grid;
            position:relative;
            width:800px;
            height:400px;
            grid-template-columns: 400px 400px;
            grid-template-rows:200px 200px;
            overflow:hidden;
            align-self:center;
            margin:10px;
    }
    .MyContainerColumnsRegular{
      grid-column:1/1;
      grid-row:1/2;
      vertical-align:top;
      margin:5px;
    }
    .MyContainerColumnsFrozen{
      grid-column:2/2;
      grid-row:1/1;
      vertical-align:top;
      margin:5px;
    }
    .MyContainerColumnsHidden{
      grid-column:2/2;
      grid-row:2/2;
      vertical-align:top;
      margin:5px;
    }
    .draggable2 {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 1px;
        padding: 1px;
        display: block;
        cursor: move;
    }
    .droptarget2 {
        border: 1px solid #ebebeb;
        margin: 1px;
        padding: 1px;
        display: block;
    }
</style>

<div class="MyContainerColumnsManager">
   
        <div class="MyContainerColumnsRegular">
            <label style="height:30px;line-height:30px;margin:5px"><b>Regular Columns</b></label>
            <div id="@listDragTarget[0].ElementID" ondragover="event.preventDefault()" dropzone="move" class="droptarget2"
                 style="width:392px;height:360px;overflow:auto;background-color:lightcyan">
                @foreach (var item in listDraggable.Where(x => x.ParentID == listDragTarget[0].ID))
                {
                    <div id="@item.ElementID" class="draggable2" onmousedown="@(e => OnMouseDown(e, item))" style="line-height:25px" draggable="true">
                        @item.Name
                    </div>

                }

            </div>

        </div>
       
           
        <div class="MyContainerColumnsFrozen">
            <label style="height:30px;line-height:30px;margin:5px"><b>Frozen Columns</b></label>
            <div id="@listDragTarget[1].ElementID" ondragover="event.preventDefault()" dropzone="move" class="droptarget2"
                 style="width:390px;height:160px;overflow:auto;background-color:lightcyan">
                @foreach (var item in listDraggable.Where(x => x.ParentID == listDragTarget[1].ID))
                {
                    <div id="@item.ElementID" class="draggable2" onmousedown="@(e => OnMouseDown(e, item))" style="line-height:25px" draggable="true">
                        @item.Name
                    </div>

                }

            </div>
        </div>
              
        <div class="MyContainerColumnsHidden">
            <label style="height:30px;line-height:30px;margin:5px"><b>Hidden Columns</b></label>
            <div id="@listDragTarget[2].ElementID" ondragover="event.preventDefault()" dropzone="move" class="droptarget2"
                 style="width:390px;height:160px;overflow:auto;background-color:lightcyan">
                @foreach (var item in listDraggable.Where(x => x.ParentID == listDragTarget[2].ID))
                {
                    <div id="@item.ElementID" class="draggable2" onmousedown="@(e => OnMouseDown(e, item))" style="line-height:25px" draggable="true">
                        @item.Name
                    </div>

                }

            </div>

        </div> 
</div>




