
@typeparam TItem

@inherits CompBlazorVirtualGridBase<TItem>




<CompCSS bvgGrid="@bvgGrid"></CompCSS>


<CompModal bvgModal="@bvgGrid.bvgModal"></CompModal>


@if (bvgGrid.IsReady)
{

        <h5>@bvgGrid.Name Count @bvgGrid.RowsTotalCount</h5>

        <CompLayout bvgGrid="@bvgGrid" ActualRender="@ActualRender"></CompLayout>
  
}
else
{
    <br />
    <h3>Loading...</h3>
    <h3>@bvgGrid.Name</h3>
}