
@typeparam TItem

@inherits CompBlazorVirtualGrid_Logic<TItem>



@if (ActualRender)
{
<CompCSS bvgGrid="@bvgGrid"></CompCSS>
}


@if (bvgGrid.IsReady)
{

    <h3>@bvgGrid.Name Count @bvgGrid.Rows.Count</h3>


    <CompTable bvgGrid="@bvgGrid" ActualRender="@ActualRender"></CompTable>
}
else
{
    <br />
    <h3>Loading...</h3>
    <h3>@bvgGrid.Name</h3>
}